

body{
    margin: 0;
    padding: 0;
    background-image: url(backPIC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }

.about{
    color: #fff;
}

.pic{
    border-radius: 50%;
}

.About{
    margin-top: 50px;
    margin-bottom: 50px;
}

.Home{
    background-image: url(eatSleep.png);
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.trip{

    
    padding-bottom: 50px;
    padding-top: 50px;
    color: #fff;
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,1),
    rgba(0,0,0,.8),
    rgba(0,0,0,.4),
    rgba(0,0,0,0));
    
}

.labo{
    background-image: linear-gradient(to right,
    rgba(0,0,0,1),
    rgba(0,0,0,.8),
    rgba(0,0,0,.4),
    rgba(0,0,0,0));
}

.carousel-caption{
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,1),
    rgba(0,0,0,.8),
    rgba(0,0,0,.4),
    rgba(0,0,0,0));
}

.porm{
    font-size: larger;
}
.PORM{
    font-weight: bold;
}
.other{
    color: #fff;
    
}

.anim{
    position:relative;
    font-size: 6vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}
.anim::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    -webkit-text-stroke: 0.3vw #fff;
    border-right: 2px solid #fff;
    overflow: hidden;
    animation: text 6s linear infinite;
}

@keyframes text {
    0%,20%,100%{
        width: 0;
    }
    80%,90%{
        width: 100%;
    }
    
}

